<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i>Accounts</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-table"></i>Accounts</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Transactions</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/accounts/transactions" class="btn btn-primary">Manage transactions</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Transaction types</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/accounts/transactionTypes" class="btn btn-primary">Manage types</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Transaction status</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/accounts/transactionStatus" class="btn btn-primary">Manage status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Invoices</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/accounts/invoices" class="btn btn-primary">Manage invoices</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Invoice status</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/accounts/invoiceStatus" class="btn btn-primary">Manage status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Add module</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/accounts/module" class="btn btn-primary">Manage module</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>