<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i>HR</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-table"></i>HR</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Employees</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/employees" class="btn btn-primary">Manage employees</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Job roles</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/jobRoles" class="btn btn-primary">Manage job roles</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Departments</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/departments" class="btn btn-primary">Manage departments</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Employee types</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/employeeTypes" class="btn btn-primary">Manage employee types</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Employee status</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/employeeStatus" class="btn btn-primary">Manage employee status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title"><b>Add module</b></h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/hr/module" class="btn btn-primary">Manage module</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>